.addBookContainer {
  background-color: #f8f8ff;
  padding: 30px;
  border-radius: 10px;
}

.saveButton {
  background-color: indigo;
  color: #ffff;
  font-weight: 600;
}

.saveButton:hover {
  color: lavender;
}
