.myButton {
  background-image: linear-gradient(75deg, #7ce1f5, #aee1eb);
  padding: 5px 30px;
  border-radius: 5px;
  font-weight: 700;
}
.myButton:hover {
  background-image: linear-gradient(75deg, #dce0f5, #7ce1f5);
}
